page-home {

  .quote-container {
    height: 100%;
  }

  .quote-description {
    font-size: 18px;
    padding-bottom: 15px;
  }

  .quote-card {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .center-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 95%;
  }

  .social-icon {
    font-size: 24px;
  }
}

.toast-content {
  text-align: center;
}
