<ion-header>
  <ion-navbar>
    <ion-title>
      Quotes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">

  <ion-fab top right edge #fab>
    <button ion-fab mini color="dark">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list>
      <button ion-fab (click)="socialProvider.setShareStatus(true, fab)">
        <ion-icon name="md-share"></ion-icon>
      </button>
      <button ion-fab *ngIf="quotes && currentIndex && !isFavorite(quotes[currentIndex])"
              (click)="toggleFavorite(quotes[currentIndex], fab)">
        <ion-icon name="heart-outline"></ion-icon>
      </button>
      <button ion-fab *ngIf="quotes && currentIndex && isFavorite(quotes[currentIndex])"
              (click)="toggleFavorite(quotes[currentIndex], fab)">
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <ion-slides class="quote-container" effect="slide"
              *ngIf="currentIndex !== undefined"
              [initialSlide]="currentIndex"
              (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let quote of quotes">
      <ion-grid>
        <ion-row justify-content-center align-items-center>
          <ion-card class="quote-card animated fadeIn">
            <ion-card-content>
              <ion-item class="quote-description" text-wrap>
                "{{ quote.text }}"
              </ion-item>
              <ion-item>
                <p item-end>{{ quote.author }}</p>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <web-social-share *ngIf="quotes"
                    [show]="socialProvider.isSharing"
                    [share]="currentIndex && socialProvider.share(quotes[currentIndex])"
                    (closed)="socialProvider.setShareStatus(false)">
  </web-social-share>

</ion-content>


