page-home {

  .quote {
    padding-bottom: 10px;
  }

  .quote-card {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .center-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 95%;
  }

}
