page-favorites {

  .background {
    background: linear-gradient(to bottom right, #FDC830, #F37335);
  }

  .favorite-icon {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .no-favorites {
    text-align: center;
    font-size: 12px;
    padding: 7px;
  }

  .social-icon {
    font-size: 24px;
  }

  .close-button {
    padding-bottom: 160px;
  }

}


