<ion-header>
  <ion-navbar>
    <ion-title>Favorites</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="favorites.length > 0">
    <quote-card *ngFor="let favorite of favorites; let i = index;"
                [quote]="favorite"
                [isSharing]="isSharing[favorite.id]"
                [isFavorite]="favoritesProvider.isFavorite(favorite)"
                (onClick)="toggleOptions(favorite)"
                (onFavorite)="promptRemoveFavorite(favorite)"
                (onShare)="share(i)">
    </quote-card>
  </ion-list>

  <web-social-share *ngIf="favorites.length > 0"
                    [show]="socialProvider.isSharing"
                    [share]="socialProvider.share(favorites[currentIndex])"
                    (closed)="socialProvider.setShareStatus(false)">
  </web-social-share>

  <ion-card *ngIf="favorites.length === 0" class="no-favorites">
    <ion-icon class="favorite-icon" name="heart"></ion-icon>
    <div>No Favorites</div>
  </ion-card>
</ion-content>
