page-search {

  .search-bar {
    background: rgba(0, 0, 0, 0);
  }

  .search-icon {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .no-quotes {
    text-align: center;
    font-size: 12px;
    padding: 7px;
  }

}
