page-search {

  .search-bar {
    background: rgba(0, 0, 0, 0);
  }

  .search-icon {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .no-quotes {
    text-align: center;
    font-size: 12px;
    padding: 7px;
  }

  .social-icon {
    font-size: 24px;
  }

  web-social-share div.web-social-share.web-social-share-open div.web-social-share-action-sheet div.web-social-share-action-sheet-container div.web-social-share-action-sheet-group {
    padding-top: 20px;
    padding-bottom: 110px;
  }

}
